 .add-post{
   margin-bottom: 3rem;
   box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.45);
   border-radius: 5px;
   background-color:$secondary;
   padding: 1.5rem 2rem;
 }

 .add-post__form{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .add-post__textarea{
  font-size: 1.5rem;
  line-height: 1.8rem;
  background:transparent;
  border:none;
  resize: none;
  height: 26px;

  color:$white;
  width: 75%;

  &::placeholder{
    color:#d2d2d2
  }
 }

 .add-post-file{
   display: block;
   width: 44px;
   height: 44px;
   border-radius: 50%;

   cursor: pointer;
   margin-right: 1.5rem;

   transition: background-color 0.2s linear;
   background: #ebebeb
               url("/assets/images/stories/ico_photo.svg")
               center
               no-repeat;
  &:hover{
    background-color:darken(#ebebeb, 5%)
  }

   input{
    display:none
  }
 }

 .add-post__form-actions{
  display: flex;
  
 }

 .add-post-btn{
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border:none;

    background: $blue
                url("/assets/images/stories/ico_send.svg")
                center
                no-repeat;
    transition: background-color 0.2s linear;
   &:hover{
     background-color:darken( $blue, 5%)
   }
 }