.modal{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  padding: 1rem;

  background-color:rgba($black, .8);

  position: fixed;
  top:0;
  left:0;
  z-index: $z-index-modal;
}

.modal__content{
  width: 100%;
  max-width: 50rem;
  padding: 8rem 8rem;
  background-color:$primary;
  

  border-radius: 5px;
 
  position: relative;

  &--contact{
    padding-bottom:2.5rem ;
  }
}

.modal__close{
  position: absolute;
  top: 2rem;
  right: 2rem;

  background:transparent;
  border:none;

  padding: 0;
  cursor: pointer;
  opacity: .5;

  transition: transform 0.2s linear, opacity 0.2s linear;
  &:hover{
    transform: rotate(90deg);
    opacity: 1;
  }
}
.modal__footer{
    margin-top: 4rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    display: flex;
    justify-content: center;
  
    color: #B3B3B3;

    &--link{
      margin-right: 1rem;
    }
    a{
      color:inherit;
      text-decoration:underline;
      &:hover{
        text-decoration: none;
      }
    }
}