.pagination{
  display: flex;
  justify-content: center;
  margin-top: 8rem;

  &__item{
    margin:0 0.5rem;
  }
  &__link{
    display: block;
    text-decoration: none;
    width:4rem;
    height: 4rem;
    background-color:#0D0D0D;
    border-radius: 3px;
    
    font-family: Roboto;
    color:$white;
    font-size: 1.4rem;
    line-height: 4rem;
    text-align: center;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition: background-color .2s linear;
    &:hover{
      background-color:lighten( #0D0D0D, 10%);
    }
    &.active{
      background-color:$blue;
      box-shadow: 0px 0px 10px rgba(blue, 0.15);
      
    }
  }
}