<div class="modal">
  <div class="modal__content  modal__content--contact">

    <form class="form form--auth" action="/" method="post">
      
      <button class="modal__close">
        <img src="../assets/images/modal/close.svg" alt="Закрыть">
      </button>

      <div class="form__group form__group--md">
        <input type="text" class="form__control" placeholder="Ваше имя"  name="name">
        <span class="form__line"></span>
      </div>

      <div class="form__group form__group--md">
        <input type="email" class="form__control" placeholder="Ваше e-mail"  name="email">
        <span class="form__line"></span>
      </div>
      
      <div class="form__group form__group--md">
        <textarea  class="form__control form__control--textarea" placeholder="Текст сообщения"></textarea>
        <span class="form__line"></span>
      </div>
          
      <div class="form__footer">
        <div class="form__group">
          <button type="submit" class="btn  btn--blue btn--rounded btn--sm">Отправить</button>
        </div>
  
        
      </div>
    </form>

    <ul class="modal__footer">
      <li>
        e-mail:  <a class="modal__footer--link" href="mailto:info@mywebsite.ru">info@mywebsite.ru </a>
      </li> 
      <li>
        тел: <a class="modal__footer--link" href="tel:+94323285622">+943-232-856-22</a>
      </li> 
    </ul>
  </div><!--/.modal-content  -->
</div><!--/.modal  -->