<div class="modal">
  <div class="modal__content">
    <button class="modal__close">
      <img src="../assets/images/modal/close.svg" alt="Закрыть">
    </button>

    <ul class="social social--no_margin">
      <li class="social__item">
        <a class="social__link" href="#" >
          <img src="../assets/images/modal/facebook.svg" >
        </a>
      </li>

      <li class="social__item">
        <a class="social__link"  href="#" >
          <img src="../assets/images/modal/twitter.svg" =>
        </a>
      </li>

      <li class="social__item">
        <a class="social__link"  href="#" >
          <img src="../assets/images/modal/vk.svg">
        </a>
      </li>

      <li class="social__item">
        <a class="social__link"  href="#" >
          <img src="../assets/images/modal/copy.svg">
        </a>
      </li>
    </ul>

  </div><!--/.modal__content  -->
</div><!--/.modal  -->